html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden; /* Tránh scroll ngang */
}

#root {
  height: 100%;
}

.bg-gradient-primary {
  background: linear-gradient(135deg, #007bff 0%, #0056b3 100%);
}